<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 4</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <h1>Ejercicio 3</h1>
    <h2>Contar vocales en una cadena</h2>
    <form action="/Vocales" method="post">
        <label for="cadena">Introduzca un cadena cualquiera:</label>
        <input type="text" id="cadena" name="cadena">
        <button type="submit">Enviar</button>
    </form>
    <h3>Cantidad total de vocales: {{total_vocales}} </h3>
    <h4>Total de {{vocal_a1}} </h4>
    <h4>Total de {{vocal_e1}} </h4>
    <h4>Total de {{vocal_i1}} </h4>
    <h4>Total de {{vocal_o1}} </h4>
    <h4>Total de {{vocal_u1}} </h4>
    <a href="/">Regresar</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>