<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 4</title>
</head>
<body>
    <h1>Ejercicio 4</h1>
    <H2>Promedio de N calificaciones</H2>
    <form action="/Calificando" method="post">
        <label for="cantidad_a_calificar">Introduzca la cantidad de clases a calificar </label>
        <input type="number" name="cantidad_a_calificar" id="cantidad_a_calificar">
        <button type="submit">Enviar</button>
    </form>
    <a href="/">Regresar</a>
</body>
</html>